<%= turbo_frame_tag dom_id(post) do %>
  <div class="max-w-2xl bg-transparent rounded-sm">
      <div class="flex items-center px-4 py-3">
        <img class="w-8 h-8 rounded-full" src="https://picsum.photos/id/1027/150/150"/>
        <div class="ml-3 ">
          <span class="block text-sm antialiased font-semibold leading-tight"><%= post.user.email %></span>
          <span class="block text-xs text-gray-600">sponsored</span>
        </div>
      </div>
      <%= image_tag post.image %>
      <div class="flex items-center justify-between mx-4 mt-3 mb-2">
        <div class="flex gap-5">
          <% if user_signed_in? %>
            <% if current_user  && post.likes.exists?(user_id: current_user.id) %>
              <%= button_to unlike_post_path(post), method: :delete, class: "text-rose-600" do %>
                <%= svg_tag 'heart', style: "height: 32px; width: 32px; fill: red; " %>
              <% end %>
            <% else %>
              <%= button_to like_post_path(post), method: :post do %>
                <%= svg_tag 'heart', style: "height: 32px; width: 32px;" %>
              <% end %>
            <% end %>
          <% else %>
            <%= button_to new_user_session_path, class: "underline", data: { turbo_frame: "_top" } do %>
              <%= svg_tag 'heart', style: "height: 32px; width: 32px; " %>
            <% end %>
          <% end %>
          <%= svg_tag 'comment', style: "height: 32px; width: 32px; " %>
          <%= svg_tag 'share', style: "height: 32px; width: 32px; " %>
        </div>
        <div class="flex">
          <%= svg_tag 'bookmark', style: "height: 32px; width: 32px; " %>
        </div>
      </div>
      <div class="mx-4 mt-2 mb-4 text-sm font-semibold"><%= post.likes.size %> likes</div>
      <div class="mx-4 mb-4">
        <div class="mb-2 text-sm">
          <span class="mr-2 font-medium">jonsnow</span> Lord of the Rings is my favorite film-series. One day I'll make my way to New Zealand to visit the Hobbiton set!
        </div>
      </div>
    </div>
  <div class="max-w-2xl divider"></div>
<% end %>
