<p style="color: green"><%= notice %></p>

<%= render @post %>

<h2>Comments</h2>
<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <div class="flex items-center px-4 py-3">
    <img class="w-8 h-8 rounded-full" src="https://picsum.photos/id/1027/150/150"/>
    <div class="ml-3 ">
      <span class="block text-sm antialiased font-semibold leading-tight"><%= comment.user.username %></span>
      <span class="block text-xs text-gray-600"><%= comment.body %></span>
    </div>
  </div>
  <% end %>
<% else %>
  <p>No comments found.</p>
<% end %>

<%= render partial: "comments/form", locals: { post: @post } %>
