<!DOCTYPE html>
<html data-theme="retro">
  <head>
    <title>Sosial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class= "container p-5 mx-auto">
    <header>
      <div id="flash" class="flash">
        <%= render "shared/flash_notice" %>
      </div>
      <%= render "shared/navbar" %>
    </header>

    <div class="container px-4 py-4 mx-auto">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4 lg:grid-cols-12">
       <%= render "shared/leftbar" %>
        <!-- Main Content -->
        <div class="col-span-1 rounded-lg md:col-span-2 lg:col-span-6">
          <%= yield %>
        </div>
       <%= render "shared/rightbar" %>
      </div>
    </div>
  </body>
</html>
