<!DOCTYPE html>
<html data-theme="retro">
  <head>
    <title>Sosial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class= "container p-5 mx-auto">
    <header>
      <div id="flash" class="flash">
        <%= render "shared/flash_notice" %>
      </div>
    </header>

    <div class="container px-4 py-4 mx-auto">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
